{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>SyntaxSprint - Carrera de código</title>

    <!-- Enlace al favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

    <!-- Enlace a styles.css -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

    <!-- Enlace a jQuery antes de tu script.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Enlace a script.js -->
    <script src="{% static 'js/script.js' %}" defer></script>

    <script>
      const apiUrl = "{% url 'get_python_function' %}";
      const saveResultUrl = "{% url 'save_typing_test_result' %}";
    </script>
  </head>
  <body class="profile-page">
    <main>
      <nav>
        <a class="navbar-brand" href="{% url 'index' %}">
          <span class="syntax">Syntax</span><span class="sprint">Sprint</span>
        </a>

        <div class="navbar">
          <ul class="navbar-nav">
            <li><a href="{% url 'index' %}">Inicio</a></li>

            {% if user.is_authenticated %} {% if not on_profile_page %}
            <li><span>Hola, {{ user.username }}</span></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            <li><a href="{% url 'signup' %}">Registrarse</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div>
        <span class="text"> {{ user.username }} </span>

        <h1>Historial de Resultados</h1>
        <p>Promedio de WPM: {{ avg_wpm }}</p>
        <p>Promedio de Precisión: {{ avg_accuracy }}%</p>

        <table>
          <thead>
            <tr>
              <th>Fecha</th>
              <th>WPM</th>
              <th>Precisión</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
            <tr>
              <td>{{ result.date }}</td>
              <td>{{ result.wpm }}</td>
              <td>{{ result.accuracy }}%</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>

    <footer>
      <div class="copyright">
        Copyright &copy; Crédito a los respectivos autores
      </div>
      <div class="links">
        <a
          href="https://www.linkedin.com/in/oswaldo-fonseca-gonzalez/"
          target="_blank"
          >LinkedIn</a
        >
        <span class="mx-1">&middot;</span>
        <a href="https://github.com/Chorexxs" target="_blank">GitHub</a>
        <span class="mx-1">&middot;</span>
        <a href="https://chorexxs-portfolio.dev/" target="_blank">Portfolio</a>
      </div>
    </footer>
  </body>
</html>
