{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>SyntaxSprint - Carrera de código</title>

    <!-- Enlace al favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'icon/icon.svg' %}" />

    <!-- Enlace a styles.css -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

    <!-- Enlace a jQuery antes de tu script.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Enlace a script.js -->
    <script src="{% static 'js/script.js' %}" defer></script>

    <script>
      const apiUrl = "{% url 'get_python_function' %}";
    </script>
  </head>
  <body class="login-page">
    <main>
      <nav>
        <a class="navbar-brand" href="{% url 'index' %}">
          <span class="syntax">Syntax</span><span class="sprint">Sprint</span>
        </a>
        <div class="navbar">
          <ul class="navbar-nav">
            <li><a href="{% url 'index' %}">Inicio</a></li>

            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'profile' %}">Hola, {{ user.username }}</a>
            </li>
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            <li><a href="{% url 'signup' %}">Registrarse</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <div class="container">
        <span class="text">Registrarse</span>

        <!-- Mensaje de error -->
        <div class="error-message">
          {% if messages %} {% for message in messages %}
          <h5 class="error-msg">{{ message }}</h5>
          {% endfor %} {% endif %}
        </div>

        <!-- Formulario -->
        <form action="" method="POST" class="login-form">
          {% csrf_token %}
          <div class="input-container">
            <i class="fas fa-user fa-lg icon"></i>
            <input
              type="text"
              name="username"
              class="form-control"
              placeholder="Nombre de usuario"
              required
            />
          </div>

          <div class="input-container">
            <i class="fas fa-user fa-lg icon"></i>
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="email"
              required
            />
          </div>

          <div class="input-container">
            <i class="fas fa-lock fa-lg icon"></i>
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="Contraseña"
              required
            />
          </div>

          <div class="input-container">
            <i class="fas fa-lock fa-lg icon"></i>
            <input
              type="password"
              name="password2"
              class="form-control"
              placeholder="Repetir contraseña"
              required
            />
          </div>

          <div class="button-container">
            <button type="submit" class="btn btn-primary btn-lg">
              Registrarse
            </button>
          </div>
        </form>
      </div>
    </main>

    <footer>
      <div class="copyright">
        Copyright &copy; Crédito a los respectivos autores
      </div>
      <div class="links">
        <a
          href="https://www.linkedin.com/in/oswaldo-fonseca-gonzalez/"
          target="_blank"
          >LinkedIn</a
        >
        <span class="mx-1">&middot;</span>
        <a href="https://github.com/Chorexxs" target="_blank">GitHub</a>
        <span class="mx-1">&middot;</span>
        <a href="https://chorexxs-portfolio.dev/" target="_blank">Portfolio</a>
      </div>
    </footer>
  </body>
</html>
